In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [39]:
co2_data = pd.read_csv('Preprocessedco2_data.csv')

In [40]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
co2_data['Vehicle Class'] = label_encoder.fit_transform(co2_data['Vehicle Class'])
co2_data['Fuel Type'] = label_encoder.fit_transform(co2_data['Fuel Type'])
co2_data['Transmission'] = label_encoder.fit_transform(co2_data['Transmission'])
print("Unique values in 'Vehicle Class':", co2_data['Vehicle Class'].unique())
print("Unique values in 'Fuel Type':", co2_data['Fuel Type'].unique())
print("Unique values in 'Transmission':",co2_data['Transmission'].unique())

Unique values in 'Vehicle Class': [ 0 11  2 13  3 10  1  9 12 14 15  6  4  7  8  5]
Unique values in 'Fuel Type': [4 0 3 1 2]
Unique values in 'Transmission': [14 25 22 15  8  3  9 23 17  4  5 26  1 24 19  2 16  6 18 21 13  7 10 11
 12  0 20]

In [41]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load dataset
dataset1 = pd.read_csv("Preprocessedco2_data.csv", index_col=None)

# Create a copy of the dataset
df2 = dataset1.copy()

# Initialize Label Encoder
label_encoder = LabelEncoder()

# Apply Label Encoding to specific columns in `df2` directly
df2['Make'] = label_encoder.fit_transform(df2['Make'])
df2['Model'] = label_encoder.fit_transform(df2['Model'])
df2['Vehicle Class'] = label_encoder.fit_transform(df2['Vehicle Class'])
df2['Fuel Type'] = label_encoder.fit_transform(df2['Fuel Type'])
df2['Transmission'] = label_encoder.fit_transform(df2['Transmission'])

# Print unique values for confirmation
print("Unique values in 'Make':", df2['Make'].unique())
print("Unique values in 'Model':", df2['Model'].unique())
print("Unique values in 'Vehicle Class':", df2['Vehicle Class'].unique())
print("Unique values in 'Fuel Type':", df2['Fuel Type'].unique())
print("Unique values in 'Transmission':", df2['Transmission'].unique())

# Define independent (X) and dependent (Y) variables
indep_X = df2.drop('CO2 Emissions(g/km)', axis=1)  # axis=1 is required for column drop
dep_Y = df2['CO2 Emissions(g/km)']

Unique values in 'Make': [ 0  1  2  3  4  5  7  8  9 10 11 12 13 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 14  6]
Unique values in 'Model': [1057 1058 1233 ... 1822  389 1950]
Unique values in 'Vehicle Class': [ 0 11  2 13  3 10  1  9 12 14 15  6  4  7  8  5]
Unique values in 'Fuel Type': [4 0 3 1 2]
Unique values in 'Transmission': [14 25 22 15  8  3  9 23 17  4  5 26  1 24 19  2 16  6 18 21 13  7 10 11
 12  0 20]

In [42]:
df2

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,0,1057,0,2.0,4,14,4,9.9,6.7,8.5,33,196.0
1,0,1057,0,2.4,4,25,4,11.2,7.7,9.6,29,221.0
2,0,1058,0,1.5,4,22,4,6.0,5.8,5.9,47,136.0
3,0,1233,11,3.5,6,15,4,12.7,9.1,11.1,25,255.0
4,0,1499,11,3.5,6,15,4,12.1,8.7,10.6,27,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6277,41,1951,11,2.0,4,17,4,10.7,7.7,9.4,30,219.0
6278,41,1957,11,2.0,4,17,4,11.2,8.3,9.9,29,232.0
6279,41,1960,11,2.0,4,17,4,11.7,8.6,10.3,27,240.0
6280,41,1968,12,2.0,4,17,4,11.2,8.3,9.9,29,232.0
6281,41,1969,12,2.0,4,17,4,12.2,8.7,10.7,26,248.0

In [43]:
X = df2.drop(['Make', 'Model', 'Vehicle Class','Fuel Type','CO2 Emissions(g/km)'], axis=1)  # Drop specified columns
Y = df2['CO2 Emissions(g/km)']  # Select target variable

In [28]:
X

,Engine Size(L),Cylinders,Transmission,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg)
0,2.0,4,14,9.9,6.7,8.5,33
1,2.4,4,25,11.2,7.7,9.6,29
2,1.5,4,22,6.0,5.8,5.9,47
3,3.5,6,15,12.7,9.1,11.1,25
4,3.5,6,15,12.1,8.7,10.6,27
...,...,...,...,...,...,...,...
6277,2.0,4,17,10.7,7.7,9.4,30
6278,2.0,4,17,11.2,8.3,9.9,29
6279,2.0,4,17,11.7,8.6,10.3,27
6280,2.0,4,17,11.2,8.3,9.9,29
6281,2.0,4,17,12.2,8.7,10.7,26

In [44]:
Y

0       196.0
1       221.0
2       136.0
3       255.0
4       244.0
        ...
6277    219.0
6278    232.0
6279    240.0
6280    232.0
6281    248.0
Name: CO2 Emissions(g/km), Length: 6282, dtype: float64

In [45]:
def selectkbest(X,Y,n):
    test = SelectKBest(score_func=f_regression, k=n)
    fit1 = test.fit(X,Y)
    # Get selected features
    selected_features = indep_X.columns[fit1.get_support()]
    print(f"Selected {n} Features: {selected_features}")
    selectk_features = fit1.transform(X)
    return selectk_features

In [46]:
def split_scalar(X,Y):
        X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test

In [47]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y, test_size=0.30,random_state=0)

In [48]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)
r2=r2_prediction(regressor,X_test,y_test)

In [49]:
r2

0.9836695453970898

In [50]:
import pickle
filename="finalized_Co2 emission.sav"
pickle.dump(regressor,open(filename,'wb'))

In [51]:
loaded_model=pickle.load(open("finalized_Co2 emission.sav",'rb'))
result=loaded_model.predict([[2.0,4,14,9.9,6.7,8.5,33]])

C:\Users\z0173161\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [52]:
result

array([196.8])